body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

Nav {
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.flightForm {
    display: flex;
    flex-direction: column;
}

.flightForm > * {
    margin: 1vh;
}

.indexHeading {
    display: flex;
    flex-direction: row;
    border-top: 3px solid white;
    padding: 1vh;
}

.indexHeading > *{
    padding-left: 1vh;  
    width: 20vw;
    text-align: center;
    
}

.flightTableItem {
    display: flex;
    flex-direction: row;
    border-top: 3px solid white;
    padding: 1vh;
}

.flightTableItem > *{
    border-left: 2px solid white;  
    padding-left: 1vh;  
    width: 20vw;
    text-align: center;
    
}

h1 {
    align-self: center;
}

.detailsLink {
    width: 10vw;
}

.airlineLink {
    width: 15vw;
}

h4 {
    margin: 0;
}

td {
    border: 1px solid black;
    padding: 1vh;
    padding-left: 2vh;
}

td {
    background-color: lightgray;
}

.valueTd {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.destinationContainer {
    padding: 5vh;
    display: flex;
    justify-content: center;
}

.destinationForm {
    display: flex;
    flex-direction: column;
}